<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651113175715-28mfi81j4iu7sevca45497ii4muuj945.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651113175715-28mfi81j4iu7sevca45497ii4muuj945</string>
	<key>API_KEY</key>
	<string>AIzaSyBO9rQo8u17uHOtGs9sDs0E-WO-u0aAMIU</string>
	<key>GCM_SENDER_ID</key>
	<string>651113175715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.Iani-Maria-333</string>
	<key>PROJECT_ID</key>
	<string>project-ios-5adaf</string>
	<key>STORAGE_BUCKET</key>
	<string>project-ios-5adaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651113175715:ios:4ed4168f463912ca11fd16</string>
</dict>
</plist>